html{
    background: lightskyblue;
}

body{
    background: white;
    text-align:center;
    padding: 25px 0px;/*first num is top, second num is sides */
    width: 700px;
    margin: 25px auto;/*moves stuff to the middle -- first num is vertical (from top), second is horizontal (auto in this case)*/
    border-radius: 25px;/*rounded corners*/
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    font-family: broadway, Geneva, Tahoma, sans-serif;
    font-size: 72px;
    letter-spacing: 2px;
}


hr{
    width: 500px;
}

/*
creating a "class selector"
see html document for use
*/
.rgb-code{
    font-family: 'Courier New', Arial;
    font-weight: bold;
}

input {
    width: 60px;
    font-family: 'Courier New', Arial;
    font-size: 18px;
    color: white;
    text-align: center;
}

#redIn{
    background: red;
}

#greenIn{
    background: green;
}

#blueIn{
    background: blue;
}

#display{
    width: 400px;
    height: 200px;
    background: rgb(255, 0, 255);
    margin: auto;
}

button{
    background: grey;
    color: white;
    border-radius: 5px;
    padding: 2px 10px;
    cursor: pointer;
}

a{
    color: blue;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}