html{
    background: url("https://i.redd.it/zrwt6qk892991.gif");
    background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

body{
    background: white;
    text-align:center;
    padding: 25px 0px;/*first num is top, second num is sides */
    width: 400px;
    margin: 25px auto;/*moves stuff to the middle -- first num is vertical (from top), second is horizontal (auto in this case)*/
    border-radius: 25px;/*rounded corners*/
    font-family: Arial, Helvetica, sans-serif;
}

#answer{
    font-size: 20px;
    font-weight: bold;
}

hr{
    width: 300px;
}

input {
    width: 60px;
    font-size: 18px;
    color: black;
    text-align: center;
}

button{
    background: lightblue;
    color: white;
    border-radius: 7px;
    padding: 5px 25px;
    cursor: pointer;
}
select{
    background: lightblue;
    color: black;
    border-radius: 7px;
    padding: 5px 25px;
}